.navbar {
    display: flex;
    gap: 4;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background: rgb(94,131,172);
    background: linear-gradient(81deg, rgba(150,200,255, 0.7) 0%,rgba(94, 131, 172, 0.7)  100%);
    margin-bottom: 20px;

    div {
        display: flex;
        .navbarLink {
            color: #004594;
            margin: 5px 20px;
            display: flex;
            font-size: 30px;
            align-items: baseline;
            gap: 8px;
            text-decoration: underline transparent;
            
        }
        .selectedPath{
            text-decoration: underline;
            transition: text-decoration 0.5s;
        }
    }
    .logoutButton{
      margin-right: 15px;  
    }
}